<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Aluno</ion-title>
    <ion-icon routerLink="/config" class="icon" slot="end" name="more"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>Me notifique sobre:</ion-item-divider>
      <ion-item>
        <ion-label>Ensino Médio</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>ETIM</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Administração</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Contabilidade</ion-label>
          <ion-toggle color="danger" slot="end"></ion-toggle>
        </ion-item>
      <ion-item>
        <ion-label>Desenvolvimento de Sistemas</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Marketing</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Secretariado</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>