
.icon{
    font-size: 35px;
  }
  .centro{
    text-align: center;
    background: #b01116;
  }   
.background{
  background: #ce5256;
}
.negro{
  color: black;
  font-weight: bold;
}
.negrito{
  font-weight: bold;
}
