
<ion-header>
  <ion-toolbar color="danger"> 
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1>Login</h1>
<img src="https://cdn.iconscout.com/icon/free/png-256/account-profile-avatar-man-circle-round-user-30452.png"/>

    <ion-grid>
      <ion-row>
        <ion-col width-100>
          <ion-item>
            <ion-label position="floating">E-mail Institucional</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item> <br />

          <ion-button routerLink="/tabs" color="danger" expand="block" fill="outline">Fazer Login</ion-button>

          <p>Não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>