<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>Notificações</ion-item-divider>
      <ion-item>
        <ion-label>Notícias</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Tarefas e Trabalhos</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Provas</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Cardápio</ion-label>
        <ion-toggle color="danger" slot="end"></ion-toggle>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>